body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 0px
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin: 20px auto;
}

.post + .post {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-body {
    margin: 0;
    font-size: 17px;
}

.post-author {
    font-style: italic;
    font-size: 12px;
}

#index-username a {
    text-decoration: none;
    font-size:20px;
}

#index-username a:hover {
    color:orange;
}

h1 {
    margin-top:10px;
    margin-left:10px;
}

nav {
    background-color:#1f72a3;
    height:80px;
}

nav a {
    text-decoration:none;
    color:white;
}

nav a:hover {
    color:orange;
}

nav ul {
    padding: 0;
    display: inline-block;
    margin-left:15px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

#registration {
    float:right;
}

